.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: calc(100% - 40px); /* Adjust the margin values */
    box-sizing: border-box;
    overflow-x: auto;
}

.popular-item > * {
    flex-shrink: 0;
}
